.profile__edit-button {
  background-color: #000;
  border: none;
  padding: 0;
  margin-left: 17px;
  cursor: pointer;
  width: 24px;
  height: 24px;
}

.profile__edit-button:focus {
  outline: none;
}

@media screen and (max-width: 767px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
    margin-left: 2px;
  }
}