.form__input-job {
  width: calc(100% - 2*36px);
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  padding: 0 0 13px 0;
  margin: 30px auto 0;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.form__input-job::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  color: #000;
}

@media screen and (max-width: 767px) {
  .form__input-job {
    width: calc(100% - 2*22px);
  }
}