.form__title {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;
  width: calc(100% - 2*36px);
  margin: 34px auto 0;
  text-align: start;
}

@media screen and (max-width: 767px) {
  .form__title {
    width: calc(100% - 2*22px);
    font-size: 18px;
    margin-top: 25px;
  }
}