.element__like-button {
  border: none;
  background-color: #fff;
  width: 20px;
  height: 18px;
  padding: 0;
  margin-left: auto;
  margin-right: 2.5px;
  cursor: pointer;
}

.element__like-button:focus {
  outline: none;
}